profileStorage/privacyManager/distribution/res/Application.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 sp2 (http://www.altova.com) by USER USER (Thales Services SAS) -->
<!--W3C XML Schema generated by XMLSpy v2013 rel. 2 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:app="eu.3cixty.application" targetNamespace="eu.3cixty.application" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:simpleType name="AppType">
		<xs:annotation>
			<xs:documentation>Application type : Web, Android, IOS, Win</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Web"/>
			<xs:enumeration value="Android"/>
			<xs:enumeration value="IOS"/>
			<xs:enumeration value="Win"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="application">
		<xs:annotation>
			<xs:documentation>Information about the application that propose this contract</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" nillable="false">
					<xs:annotation>
						<xs:documentation>How the application is known from the user</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="description" type="xs:string" nillable="false">
					<xs:annotation>
						<xs:documentation>Explanation of the services provided by the application</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="version" type="xs:string" nillable="false">
					<xs:annotation>
						<xs:documentation>Application version number</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="author" type="xs:string" nillable="false">
					<xs:annotation>
						<xs:documentation>Application provider : company, person...</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="type" type="app:AppType">
					<xs:annotation>
						<xs:documentation>Application type :
Web application, native IOS,
native Android, native Windows Phone</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="domains">
					<xs:annotation>
						<xs:documentation>Categorization of the application services.

For example : 
- Transport if the application provides public transport itineraries
- Food if the application deals with restaurant reservation
- ....

An application could cover several domains.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="domain" type="app:Domain"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Domain">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Food"/>
			<xs:enumeration value="Cultural"/>
			<xs:enumeration value="Health"/>
			<xs:enumeration value="Transport"/>
			<xs:enumeration value="Communication"/>
			<xs:enumeration value="Entertainment"/>
			<xs:enumeration value="Religion"/>
			<xs:enumeration value="Education"/>
			<xs:enumeration value="Financial"/>
			<xs:enumeration value="Other"/>
			<xs:enumeration value="Sport"/>
			<xs:enumeration value="Tourism"/>
			<xs:enumeration value="Music"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
